.pricing_section {
  padding: 7rem 0rem;
}
.center_wrapper {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
}
.pricing_section h2 {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
  margin: 0;
}

.pricing_wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bck-black);
  justify-content: center;
}
.pricing_wrapper .pricing_item {
  flex-grow: 1;
  width: 33%;
  padding: 2rem;
  box-sizing: border-box;
}

.pricing_wrapper .pricing_inner_wrapper {
  border: 2px solid #ffa800;
  padding: 50px 20px;
}

.pricing_inner_wrapper .pricing_title {
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #ffa800;
  padding-bottom: 2rem;
}
.pricing_inner_wrapper .pricing_title span:nth-child(1) {
  font-size: 5rem;
  display: block;
}
.pricing_inner_wrapper .pricing_title span:nth-child(2) {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 300;
}
.pricing_inner_wrapper .pricing_description {
  color: #b8b8b8;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  padding: 2rem 0px;
  min-height: 7rem;
}

.pricing_inner_wrapper .pricing_buttons {
  text-align: center;
}

@media (max-width: 38.75em) {
  .pricing_wrapper .pricing_item {
    width: 100%;
  }
}
