footer {
  padding: 5rem 0px;
  text-align: center;
  font-size: 6rem;
  color: #ffffff;
}

.footer_copyright {
  font-size: 1.8rem;
}

.footer_bck_red {
  background: #ff4800;
  background: var(--color-primary);
}

.footer_logo {
  flex-grow: 1;
}
.footer_logo_venue {
  font-size: 4rem;
  font-family: "Righteous", cursive;
}
