header {
  padding: 10px 0px;
  transition: all 300ms ease-in;
}

.header_logo {
  flex-grow: 1;
}
.header_logo_venue {
  font-size: 4rem;
  font-family: "Righteous", cursive;
}

.header_logo_title {
  text-transform: uppercase;
}

.font_righteous {
  font-family: "Righteous", cursive;
}
